.gallery {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'roboto';
    background-color: #dfdfdf;
}
.galleryElement {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
}
.galleryHalfWidth {
    vertical-align: top;
    width: calc(50% - 40px);
}
.galleryQuarterWidth {
    vertical-align: top;
    width: calc(25% - 40px);
}
.galleryFullWidth {
    width: calc(100% - 40px);
}
@media only screen and (max-device-width: 480px) {
    .galleryElement {
        margin-left: 0;
        margin-right: 0;
    }
    .galleryHalfWidth, .galleryFullWidth, .galleryQuarterWidth {
        width: 100%;
    }
}
