$color-divider: $palette-grey-200 !default;
$color-background: $palette-indigo-500 !default;
$color-text: $palette-grey-900 !default;
$color-text-secondary: $palette-grey-600 !default;

$color-primary: $palette-indigo-500 !default;
$color-primary-dark: $palette-indigo-700 !default;
$color-accent: $palette-pink-a200 !default;
$color-accent-dark: $palette-pink-700 !default;
$color-primary-contrast: $color-dark-contrast !default;
$color-accent-contrast: $color-dark-contrast !default;
